@media screen and (min-width: 900px) {
    header h1 {
        font-size: 1.8em;
    }
    .intro h2 {
        font-size: 1.3em;
        padding: 2em 12em;
    }
    header {
        height: 42em;
        background: url(img/web-large.jpg) no-repeat;
        background-position: bottom;
    }
    header .logo {
        width: 11em;
        display: block;
        margin-left: 4em;
    }
    .sale {
        flex-direction: row;
        margin: 0 4em;
    }
    .item img {
        width: 100%;
    }
    .info-block {
        height: 25em;
        background-image: url(img/gf.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 60%;
    }
    .block {
        width: 35%;
        padding: 3em 1em 0 2em;
    }
    /*.quote {
        flex-direction: row;
        
    }
    blockquote {
        background-size: 80% 50%;
    
    }
    .quote section {
       margin: 0;
        padding: 0;
    }*/
    
}