body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #3D4853;
    margin: 0;
    padding: 0;
}

header h1 {
    line-height: 1.6;
    font-size: 1.3em;
    margin: 2em 1em;
}

header {
    text-align: center;
    height: 34em;
    background: url(img/web-small.jpg) no-repeat;
    background-position: bottom;
}

.logo {
    margin-top: 2em;
    width: 10em;
}

a {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.08;
    letter-spacing: 0.08em;
    text-align: center;
}

.btn-1 {
    display: inline-block;
    text-transform: uppercase;
    background: #3BCE95;
    color: #fff;
    margin-top: 1em;
    padding: 1em 1.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.btn-1:hover {
    border-bottom: #398567 solid 0.2em;
}

.intro {
    margin: 3.2em 2em
}

.intro h2 {
    text-align: center;
    line-height: 1.8;
    font-size: 1.1em;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.08em;
}

.items {
    text-align: center;
}

.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section .item img {
    margin: 2em;
    width: 80%;
}

.items .item p {
    font-weight: 600;
    margin: -3em 2em 2em;
}

.btn-2 {
    display: inline-block;
    text-transform: uppercase;
    background: transparent;
    color: #3D4853;
    margin: 1em;
    padding: 1em 1.5em;
    border: 0.12em solid #3D4853;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.btn-2:hover {
    border: 0.12em solid #BDCAD8;
}

figure .circle-img {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.offer {
    margin-top: 3em;
}

.offer figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.offer .circle-1 {
    background-image: url(img/raise-money.jpg);
}

.offer .circle-2 {
    background-image: url(img/homepage-sell-online.jpg);
}

.offer .circle-3 {
    background-image: url(img/hompage-order-custom.jpg);
}

.offer p {
    font-weight: 500;
    margin: -0.5em 2em 2em;
    text-align: center;
}

.btn-3 {
    display: inline-block;
    text-transform: uppercase;
    background-image: url(img/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-weight: 600;
    color: #3D4853;
    margin: 1em;
    padding: 2em 2.4em;
}

.btn-3:hover {
    background-image: url(img/arrow.svg);
    opacity: 0.5;
}

.info-block {
    background-color: #F1F4F8;
    height: 40em;
    text-align: left;
    padding: 3em 3.5em;
    background-image: url(img/campaign-callout-xs@2x.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 24em
}

.info-block h1 {
    font-size: 1emm;
    font-weight: 600;
    margin: 0
}

.info-block p {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.8;
}
/*
.quote {
  display: flex;
    flex-direction: column;
    align-items: center;
 
}
blockquote {
    position: relative;

    background-image: url(img/texture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 90%;
    padding: 3em;
    order:1;
}

blockquote:before {
    content: '"';
    display: block;
    color: #5e82a6;
    font-size: 4em;
    font-family: 'Arial', serif;
    font-style: italic;
    position: absolute;
    top: 0.4em;
    left: 0.1em;
}

blockquote p {
    font-weight: 500;
    font-size: 0.9em;
    font-weight: 600;
    
}
.quote section {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    order:2;
}

.quote section  img {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-right: 1em;
    
}

.quote .name  p {
    font-size: 0.9em;
    font-weight: 500;
    margin-top: -1em;
}*/

footer {
    text-align: center;
   background: #3D4853;
   color: white;
   padding: 2em;
}

